header {
  background-color: lightgrey;
}
.header-top-left {
  background-color: blue;
  padding: 15px 0;
}
.header-top-right {
  background-color: coral;
  padding: 15px 0;
}

#jumbotron {
  text-align: center;
}
#jumbotron img {
  height: 250px;
}
