/* generali */
body {
  font-family: 'Source Sans Pro', sans-serif;
}
h1, h2, h3 {
  margin-top: 0;
}
h1 {
  font-size: 50px;
  font-weight: 900;
  padding-bottom: 20px;
}
h2 {
  font-size: 40px;
}
.uppercase {
  text-transform: uppercase;
}
.line-star-white {
  width: 210px;
  margin: auto;
  border-top: 3px solid white;
  position: relative;
  padding-bottom: 50px;
}
.line-star-black {
  width: 210px;
  margin: auto;
  border-top: 3px solid black;
  position: relative;
  padding-bottom: 50px;
}
/* /generali */

header {
  background-color: #2D3F50;
  color: white;
  font-weight: 900;
  line-height: 110px;
  vertical-align: middle;
}
header #header-top-left {
  font-size: 30px;
}
header #header-top-right {
  font-size: 20px;
}
header i {
  color: #686F74;
  padding: 15px;
}
header a {
  text-decoration: none;
  color: white;
  padding: 0 20px;
}
header a:hover {
  color: #23BC9C;
  text-decoration: none;
}

main,
footer {
    text-align: center;
}

#jumbotron {
  background-color: #23BC9C;
  color: white;
}
#jumbotron img {
  height: 350px;
  padding-top: 90px;
  padding-bottom: 30px;
}
#jumbotron i {
  position: absolute;
  top: -12px;
  left: 50%;
  transform: translateX(-50%);
  padding: 0 9px;
  background-color: #23BC9C;
  font-size: 20px;
}
#jumbotron #profession {
  font-size: 20px;
  font-weight: normal;
  padding-bottom: 90px;
}

#portfolio h2 {
  padding-top: 30px;
  padding-bottom: 30px;
}
#portfolio i {
  position: absolute;
  top: -12px;
  left: 50%;
  transform: translateX(-50%);
  padding: 0 9px;
  background-color: white;
  font-size: 20px;
}
#portfolio .image {
  width: 100%;
  height: 250px;
  position: relative;
  background-size: cover;
  cursor: pointer;
  margin-bottom: 30px;
}
#portfolio .image.a {
  background-image: url("https://startbootstrap.github.io/startbootstrap-freelancer/assets/img/portfolio/cabin.png");
}
#portfolio .image.a {
  background-image: url("https://startbootstrap.github.io/startbootstrap-freelancer/assets/img/portfolio/cabin.png");
}
#portfolio .image.b {
  background-image: url("https://startbootstrap.github.io/startbootstrap-freelancer/assets/img/portfolio/cake.png");
}
#portfolio .image.c {
  background-image: url("https://startbootstrap.github.io/startbootstrap-freelancer/assets/img/portfolio/circus.png");
}
#portfolio .image.d {
  background-image: url("https://startbootstrap.github.io/startbootstrap-freelancer/assets/img/portfolio/game.png");
}
#portfolio .image.e {
  background-image: url("https://startbootstrap.github.io/startbootstrap-freelancer/assets/img/portfolio/safe.png");
}
#portfolio .image.f {
  background-image: url("https://startbootstrap.github.io/startbootstrap-freelancer/assets/img/portfolio/submarine.png");
}
#portfolio .layover {
  width: 100%;
  height: 100%;;
  background-color: rgba(0, 0, 0, 0.0);
}
#portfolio span {
  font-size: 50px;
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50% , -50%);
  visibility: hidden;
}
#portfolio .image:hover .layover {
  background-color: rgba(35,188,156, 0.5);
}
#portfolio .image:hover .glyphicon.glyphicon-plus {
  visibility: visible;
}

#about {
  background-color: #23BC9C;
  color: white;
}
#about .container {
  padding-left: 100px;
  padding-right: 100px;
  text-align: left;
}
#about h2 {
  padding-top: 30px;
  padding-bottom: 30px;
}
#about i {
  position: absolute;
  top: -12px;
  left: 50%;
  transform: translateX(-50%);
  padding: 0 9px;
  background-color: #23BC9C;
  font-size: 20px;
}
#about .container-top-left,
#about .container-bottom-right {
  margin-bottom: 20px;
}
#about button {
  text-align: center;
  background-color: #23BC9C;
  color: white;
  margin-bottom: 10px;
  border: 1px solid white;
}
#about button span {
  padding-right: 5px;
}

#contact {
  color: black;
}
#contact h2 {
  padding-bottom: 30px;
  padding-top: 30px;
}
#contact i {
  position: absolute;
  top: -12px;
  left: 50%;
  transform: translateX(-50%);
  padding: 0 9px;
  font-size: 20px;
  background-color: white;
}
#contact form {
  padding-bottom: 5px;
  width: 60%;
  text-align: center;
  margin: auto;
}
#contact form input,
#contact form textarea {
  width: 100%;
  border-left: none;
  border-right: none;
  border-top: none;
  border-bottom: 1px solid lightgrey;
}
#contact input::placeholder,
#contact textarea::placeholder {
  color: black;
}
#contact button {
    float: left;
    background-color: #23BC9C;
    color: white;
    margin-bottom: 10px;
    border: 1px solid white;
}

footer {
  color: white;
}
footer .icons {
  width: 40px;
  height: 40px;
  padding: 10px;
  border: 1px solid white;
  border-radius: 50%;
  display: inline-block;
  position: relative;
}
footer i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50% , -50%);
}
footer #footer-top {
  background-color: #3B546D;
  padding: 30px 0;
}

footer #footer-bottom {
  background-color: #2D3F50;
  text-align: center;
  padding: 30px;
}

/* Extra small devices (phones, less than 768px) */
@media screen and (max-width: 767px) {

  #footer-top p,
  #footer-top .uppercase.col-xs-12.col-sm-4 {
    padding-bottom: 20px;
  }

}
