header {
  background-color: lightgrey;
}
.header-top-left {
  background-color: blue;
  padding: 15px 0;
}
.header-top-right {
  background-color: coral;
  padding: 15px 0;
}

main {
    text-align: center;
}

#jumbotron {
  background-color: lightyellow;
}
#jumbotron img {
  height: 250px;
}

.images {
}
